<%= flash_messages %>
<h1>Countries</h1>

<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>   
         <th class="col-md-2">Creator</th>   
        <th class="col-md-4">Options</th>
      </tr>
    </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td class="col-md-2"><%= country.name %></td>
        <td class="col-md-2"><%= country.user.try(:username) %></td>
        <td class="col-md-4">
            <%= link_to 'Show', country , class: "btn btn-info" %>
            <%= link_to 'Edit', edit_country_path(country) , class: "btn  btn-warning" %>
            <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Country', new_country_path, class: "btn btn-primary" %>
